/*-------------------------------------CSS Resets----------------------------------------------*/
html {min-height: 100%;height: auto !important;height: 100%;overflow: auto !important; }
body{font-size: 14px;display:block;margin:0;}
*::selection {color: #fff;background: #999;}
*{box-sizing:border-box;}
*{ margin:0; padding:0;}
/*-------------------------------------CSS Resets----------------------------------------------*/

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNova-Regular.otf')  format('opentype'),
         url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf')  format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/ProximaNova-Bold.otf')  format('opentype'),
         url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf')  format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}



/*-------------------------------------------------------------------Login Page Styles-------------------------------------------------------------------*/
#frmbot{ border:none;}
.osLogin{
    background: url(../images/background.png) no-repeat center center fixed;
    position: static;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    
    display: block;
    z-index: 0;
   
    font-family: "ProximaNova-Regular";
    background-repeat: no-repeat;
    background-size: cover;
}
.upperPage{ overflow: auto; margin-top:30px;  } 
.masterHeader{backface-visibility: visible;background-color: transparent;min-height: 40px;margin-bottom: 0;}
.globalNavigation{box-shadow:0 0 0 transparent;background-image:none;background-color: rgba(0, 0, 0, 0.5);border-bottom: 0;min-height: 40px;}
.osGrid{display:block;height:auto !important;text-align:left;padding:0 13px;min-height:480px;margin:0 auto;width:100%;max-width:980px;}
.osLoginBox{border-radius:8px;background-clip:padding-box;background-color: rgba(239, 239, 239, 0.9);position: relative;top: 100px;margin: 0 auto;width: 100%;max-width: 560px;min-width: 0;padding: 2px 20px 3px 20px;}
.osLoginHeader{margin:0 0 10px 0;float:none;padding:0 0 1px 0;}
.osLoginHeading{font-size: 32px;font-weight: 400;line-height: 52px;text-align:center;color:#355379}
.osLoginHeading span{font-weight:normal !important;}
.osLoginHeaderText{margin: 0 auto;width: 75%;text-align: center;}
.osLoginContent{float:none;margin-left:0;min-height:180px;width:100%;padding:0 0 1px 0;}
.osLoginContentBox{background-color:#fff;border:1px solid #999;position:relative;margin-bottom:18px;padding:15px 15px 0 15px;background-clip:padding-box;border-radius:9px;}
.boxHeader h4{text-align:center;margin-bottom:10px;font-size:18px;font-weight:200;line-height:25px;margin-top:0;color:#333;}
.boxBody{margin-bottom:0;}
fieldset{border:0;padding:0;margin:0 0 3% 0;}
fieldset ol{margin:0;padding:0;list-style-position:outside;list-style:none;}
fieldset ol li{margin-left:0%;line-height:20px;}
.loginBtn{-webkit-appearance: button;cursor: pointer;font-size:15px;background-image: linear-gradient(to bottom, #69dd14, #2d6e0c);background-repeat:repeat-x;text-shadow: 0 -1px 1px transparent;color: #fff;border-radius:10px;box-shadow:0 0 0 transparent;background-clip:padding-box;backface-visibility:hidden;position:relative;text-align:center;padding:6px 11px;min-width:100px;line-height:15px;font-weight:normal;border:1px solid #B4B4B4;outline:none !important;}
input[type="text"]{border-radius:4px;background-clip:padding-box;background-color:#fff;height:auto;display:inline-block;padding:2px;box-shadow:inset 0 1px 1px #EFEFEF;margin-bottom:10px;font-size:12px;vertical-align:middle;margin:0;text-transform: none;text-indent: 0px;text-shadow: none;}
.osFooter{text-align:left;backface-visibility:visible;color:#999;margin:18px 0 5px 0;}
.osFooterBckgrd{width:100%;background-color:rgba(0, 0, 0, 0.5);position:fixed;bottom:0;height:40px;}
.osFooterContent{width: 100%;position: absolute;bottom: 0;min-height: 0;margin: 0;padding: 0;z-index: 10;position:fixed;}
.osFooterLogo{height:40px;padding:10px 10px 0 10px;margin-left:0;float:left;position:fixed;}
.osFooterCopyright{float:right;height:40px;padding:10px 10px 0 10px;margin-right:0;}
.osFooterCopyright p{margin:0 auto;color:#fff;font-size:12px;}

/*-------------------------------------------------------------------Login Page Styles-------------------------------------------------------------------*/

/*-------------------------------------------------------------------Header and Footer Styles-------------------------------------------------------------------*/

.topNav .fixed{position:fixed;z-index:10000;}
.topNav{background:#002c77;overflow:visible;margin-bottom:0;height:55px;line-height:55px; position:relative;}
.fixed{width:100%;left:0;top:0;position:fixed;z-index:10;}
.topNavContent{left:45px;right:45px;padding: 0 10px;position: absolute;text-align: center;height:45px;top: 0;}
.topNavContent p{text-align: center;width: 30%;margin: 0 auto;color: #fff;font-weight: normal;font-size: 24px;display:inline-block;}
.topNavContent h2{font-size:14px;color:#fff;float:right;width:30%;}

/*-------------------------------------------------------------------Header and Footer Styles-------------------------------------------------------------------*/

.osContentSection{padding-top:100px;padding-bottom:100px;}
.osInnerContent{margin:0 auto;position:relative;max-width:980px;min-height:300px;}
.osInnerContentLeft{width:66%;float:left;padding-left:5px;padding-right:5px;}
.osInnerContentRight{width: 34%;float: right;border: 1px solid #ccc;border-radius: 6px;padding: 5px;margin: 11px 0;min-height:620px;background-color:#fafafa;}
.osInnerContentLeft h3{color:#002c77;font-size:20px;}
.osInnerContentDataBox{width: 46%;float: left;border: 1px solid #ccc;padding:5px;margin:11px;text-align:center;border-radius:6px;min-height:300px;background-color:#fafafa;}
.osInnerContentDataBox p{font-size:16px;}
.osInnerContentDataGrid{float: left;width: 97%;border-radius: 6px;border: 1px solid rgb(204, 204, 204);margin: 2% 1%;padding: 1%;}
ul.firstlevellist{list-style-type:none; margin-bottom:10px;}
ul.firstlevellist li{margin:4px 0 4px 20px;}
ul.secondlevellist{margin-bottom:10px;list-style-type:disc;width:100%;}
ul.secondlevellist li{margin:4px 0 4px 20px;font-size:12px;}
.osPolicyContentDetails h4{color:#002c77;font-size:15px;font-weight:600;border-bottom:1px solid #ccc;background-color:#a6e2ef;padding:1%;border-radius:6px;}
.osPolicyContentDetails h3{font-size:15px;font-weight:600;border-bottom:1px solid #ccc;color:#002c77;background-color:#a6e2ef;padding:1%;border-radius:6px;}
.osPolicyContentDetails h5{font-size:14px;font-weight:600;color:#404040;margin:0;}
.osPolicyContentDetails h2{font-size: 16px;padding-left: 4px;color: rgb(0, 44, 119);}
.osContentDetails{width:100%;padding-left:12px;padding-right:12px;border:1px solid #ccc;border-radius:5px 5px 5px 5px;margin:0 auto;max-width:980px;min-height:300px;background-color:#fafafa;}
#container > div{display: inline-block;border: solid 1px #808080;width:28%;vertical-align:top;border-radius:5px;margin:5px 15px;min-height:100px;}
#container{border: solid 1px #ccc;border-radius:5px;text-align: center;margin: 15px auto;width: 100%;padding:8px;}
#containerRequest{border: solid 1px #ccc;border-radius:5px;text-align: center;margin: 15px auto;width: 100%;padding:8px;}
#containerRequest > div{display:inline-block;vertical-align:middle;border:1px solid #808080;border-radius:5px;width:40%;min-height:300px;margin:5px;padding:5px;}
#containerRequest > button{width:110px;}
.loadRequest{border:1px solid red;min-height:300px;width:30%;}
.responsePage{border:1px solid red;min-height:300px;width:30%;}
.btn-info{font-size: 14px;height: 30px;margin-top:32px !important;width:60%;}
.osInnerContentLeft a{color:#404040;}
.osPolicyContentList{width:100%;max-width:1300px;border-radius:5px 5px 5px 5px;margin:0 auto;position:relative;min-height:300px;}
.osPolicyContentList section{width:48%;float:left;border-radius:6px;margin:0 1% 1% 1%;background-color:#fafafa;min-height:200px;}
.tabCount{font-size:16px;font-weight:600;color:#002c77;float:left;padding-left:2%;}
.tabCount span{color:#404040;font-size:14px;}
.osInnerContentRight img{float:right;margin-right:2%;}
.osBtnGraph{text-align:center;margin-top:1%;}
.osBtnEdit a{color:#404040;font-size:11px;text-decoration:none;font-weight:bold;outline:none;}
.osBtnEdit{float: right;padding-right: 2%;}
.w100{width:99%;}
.w100 tr:nth-child(1), .w98 tr:nth-child(1){background-color:#00a8c8 !important;}
.w100 tr:nth-child(odd), .w98 tr:nth-child(odd){background-color:#a6e2ef;}
.w98{width:98%;}
.w98 th{font-size:11px;}
.w98 tr:first-child{border-bottom:1px solid #808080;}
.w98 tr{border-bottom:none;}
table{border-color: #808080;border-style: solid;border-width: 1px 1px 2px;font-size:11px;margin: 18px 5px;border-radius:6px;}
tr{border-bottom: 1px solid #808080;text-align:left;}
table tr:first-child{font-size:13px;color:#002c77;}
.osGridInfo{display:inline-block;width:100%;}
.osGridInfo div{width:50%;float:left;}
.osGridButtons{width:100%;margin:0 auto;text-align:center;padding-bottom:2%;}
input[type="button"]{white-space:pre-wrap;margin-left:2px !important;border-radius:4px;border:none !important;background-clip:padding-box;background-color:rgb(0, 168, 200);width:100%;height:auto;display:inline-block;padding:8px;color:#fff;font-size:15px;vertical-align:middle;margin:5px;text-transform: uppercase;text-indent: 0px;text-shadow: none;min-width:100px;font-family: ProximaNova-Bold, Arial, sans-serif;}
.osArrows{display: inline-block;background-image: url("../images/right-arrow.png");width: 590px;height:71px;background-repeat: no-repeat;margin: 7px 12px;text-align: center;}
label { display: inline-block; width: 210px; text-align: left; }
.btn-info {color: #fff;background-color: #5bc0de;border-color: #46b8da;}
.btn {
    display: inline-block;
    padding: 6px 14px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;}
.btn-info:hover {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;


}

body{
    /*height:400px;*/
    position: fixed;
    bottom: 0;
}
.col-md-2, .col-md-10{
    padding:0;
}
.panel{
    margin-bottom: 0px;
}
.chat-window{
   /* top:20px; */
    position:relative;
    float: none !important;
    margin: 0 auto !important; 
}
.chat-window > div > .panel{
    border-radius: 5px 5px 0 0;
}
.icon_minim{
    padding:2px 10px;
}
.msg_container_base{
  background: #eee;
  margin: 0;
  padding: 0 10px 10px;
  max-height:600px;
  min-height: 400px !important;
  overflow-x:hidden;
}
#txtmessage{padding:2%; float:left; width: 99% !important;    position: relative;top: 10px; font-size: 16px;}
/*.chat-window{width:28% !important;}*/
/*.top-bar {
  background: #666;
  color: white;
  padding: 10px;
  position: relative;
  overflow: hidden;
  background-color: red !important;
    border-color: #0FB694 !important;
    padding:20px 15px !important;
    color:#fff !important;
}*/
.panel-heading{
    padding:0px !important;
}
.msg_receive{
    padding-left:0;
    margin-left:0;
    position: relative;
}
.msg_receive:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 10px 12px 10px 0;
border-color: transparent #fff;
display: block;
width: 0;
z-index: 1;
left:-12px;
/*top: 18px;*/
top: 40%;
}
.msg_sent{
    padding-bottom:20px !important;
    margin-right:0;
    position: relative;
}
.msg_sent:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 10px 0 10px 12px;
border-color: transparent #fff;
display: block;
width: 0;
z-index: 1;
right: -12px;
top: 10px;
}
.messages {
  background: #fff;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  max-width:100%;
}
.messages > p {
    font-size: 17px;
    margin: 0 0 0.2rem 0;
  }
  p{font-size: 17px;}
.messages > time {
    font-size: 11px;
    color: #808080;
}
.msg_container {
    padding: 10px;
    overflow: hidden;
    display: flex;
}
img {
    display: block;
}
.avatar {
    position: relative;
}
.avatar img {
    position: relative;
    top: 30%;
} 
.debbie-img{
    
    margin-top:15px;
    width:200px;
    height:250px;
    display: block;
    margin:0 auto;
}

/*.base_receive > .avatar:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 5px solid #FFF;
    border-left-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}*/

.base_sent {
  justify-content: flex-end;
  align-items: flex-end;
}
/*.base_sent > .avatar:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 1px 1px 2px rgba(black, 0.2); 
}*/

.msg_sent > time{
    float: right;
}



.msg_container_base::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.btn-group.dropup{
    position:fixed;
    left:0px;
    bottom:0;
}
osChatSection{margin:0;color:#fff;background-color:#191717;overflow-y:scroll;}
.osContentChatSection{height: 100vh;width: 100vw;display: table;}
.osContentChatBoxDetails{display:table-row;height:100%;width:100%;}
#benHeader{margin-top:50px;margin-left:90px;}
.osContentDetailsLeft{min-width: 320px;text-align: center;background-color:#fff;height:100%;}
.osContentDetailsRight{height: 100%;display: table-cell;width: 510px;background-color: #eee;vertical-align: middle;text-align: center;font-size: 20px;color: #aaa;transition:width .3s ease-in-out;box-shadow: inset 0 0 150px rgba(0,0,0,.05),inset 0 0 20px rgba(0,0,0,.1);}
.osContentLogoHeader{height: 100px;width: 220px;position: relative;display: inline-block;margin: 60px;}
.osContentLogoHeader-hr{width:78px;margin-top:0;}
.osContentLogoHeader-text{font-size: 17px;letter-spacing: 4px;text-transform: uppercase;padding-left: 4px;}
.osContentLogoHeader-subtext{font-size: 10px;letter-spacing: 1px;text-transform: lowercase;padding-left: 1px;}
.osContentLogoHeader-header{text-align: center;font-size: 19px;letter-spacing: 1px;margin: 10px 40px;}
.osContentLogoHeaderAnimation{height: 160px;width: 342px;position: relative;display: inline-block;}
.osContentLogoHeader-headerText{text-align: center;font-size: 14px;letter-spacing: 1px;margin: 10px 40px;line-height: 170%;}
.osContentLogoHeader-logos{display:inline-block;text-align:left;margin-left:20px;}
.osContentLogoHeader-logo {margin:15px;font-size: 17px;}
.osContentLogoHeader-logo-tracking{color:rgb(0,168,200);}
.osContentLogoHeader-logo-icon{vertical-align: middle;margin-right: 20px;display:inline-block;}
.osContentLogoHeader-logo-returns{color:rgb(15,182,148);}
.osContentLogoHeader-logo-cancellations{color:rgb(237,44,103);}
.osContentLogoHeader-logo-faqs{color:#d57837;}
.osContentLogoHeader-customerCard{display:inline-block;margin:20px;width:410px;}
.osContentLogoHeader-customerCard-icon{margin: 0;padding: 0;width: 100%;text-align: left;}
.osContentLogoHeader-customerCard-id{padding-left:15px;margin-top:10px;}
.osContentLogoHeader-customerCard-regenerate:hover {text-decoration: underline;}
.osContentLogoHeader-customerCard-regenerate-enabled {cursor: pointer;}
.osContentLogoHeader-customerCard-regenerate{color: #468ee5;display: inline-block;vertical-align: top;font-size: 14px;}
.osContentLogoHeader-customerCard-regenerate-logo{vertical-align: middle;margin-left: 10px;margin-right: 10px;transition: transform .3s ease-in-out;}
.osContentLogoHeader-customerCard-card{margin: 0;padding: 0;border: 1px solid rgb(0,168,200);border-radius: 8px;width:410px;min-height: 100px;text-align: left;display:inline-block;}
.osContentLogoHeader-customerCardLeft{float:left;width:30%;background-color:rgb(0,168,200);min-height:170px;border-radius:5px;}
.osContentLogoHeader-customerCardRight{float:left;width:70%}
.osContentLogoHeader-customerCard-card-section{margin:10px;color:rgb(0,168,200);}
.osContentLogoHeader-customerCard-card-header{font-size:16px;opacity:1;font-weight:500;}
.osContentLogoHeader-customerCard-card-value{font-size:16px;opacity:1;}
.osContentLogoHeader-customerCard-order-contents{font-size:14px;}
.osContentLogoHeader-customerCard-order-contents-ul{margin-left:0;padding-left:20px;}
.osContentLogoHeader-customerCard-order-contents-li{margin-top:10px;}
.osContentLogoFooter{margin-top: 25px;margin-bottom: 35px;text-align: center;font-size: 10px;}
.osContentLogoHeader-chatbot{position:absolute;right:1%;bottom:8%;cursor:pointer;}
.change-width{
    width:25% !important;
    margin-bottom: 5px !important;
}
.set-width{
    width:25% !important;
}
.change-width {
    width: 250px !important;
    margin-bottom: 5px !important;
}

.change-width-sm {
    width: 50px !important;
    margin-bottom: 5px !important;
}

.change-width-md {
    width: 150px !important;
    margin-bottom: 5px !important;
}
.anchor-align{
    width:49%;
    display:inline-block;
    color: #FEFEFE !important;
    line-height: 1.7;
    font-family: "proxima_nova_rgregular",arial,Tahoma,Geneva,sans-serif;
    text-decoration: none !important;
    font-size: 16px;
    letter-spacing: 0;
    text-transform: none;
}
.anchor-align:hover, .anchor-align:visited{
    color:#FEFEFE;
}
.change-font{
    font-size: 14px;
}
 .last{
 border:none;
}
.hr-topics{
    margin: 6px 0px 6px 0px !important;
    border: 1px solid #A6E2EF;

}
.color-icon{
    color:#fff;
}
.chat-footer{
    background: #00a8c8;
padding: 8px;
 font-family: "proxima_nova_ltsemibold",arial,Tahoma,Geneva,sans-serif !important;
                letter-spacing: .21875rem;
                text-transform: uppercase;
                margin: 0 0 .625rem 0;
                color: #A6E2EF;
               
                line-height: 1.7;
                font-weight: normal;
                font-style: normal;
                text-rendering: optimizeLegibility;
                font-size: 14px;

}
.chat-footer h6{
                font-family: "proxima_nova_ltsemibold",arial,Tahoma,Geneva,sans-serif !important;
                letter-spacing: .21875rem;
                text-transform: uppercase;
                margin: 0 0 .625rem 0;
                color: #A6E2EF;
                border-bottom: 1px solid #A6E2EF;
                line-height: 1.7;
                font-weight: normal;
                font-style: normal;
                text-rendering: optimizeLegibility;
                font-size: 14px;
}

@media only screen and (min-width : 320px) {
        .chat-window{
            width: 90% !important;
        }
        .debbie-img{
            width:150px;
            height:200px;
        }
        .anchor-align{
            width: 100%;
            border:none;
            display: block;
        }
        
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (min-width : 480px) {
        .chat-window{
            width: 400px !important;
        }
        .debbie-img{
            width:150px;
            height:200px;
        }
        .anchor-align{
            width: 100%;
            border:none;
            display: block;
        }
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
        .chat-window{
            width: 50% !important;
        }
        .debbie-img{
            width:180px;
            height:250px;
        }
        .anchor-align{
            width: 100%;
            border:none;
            display: block;
        }
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
        .chat-window{
            width: 460px !important;
        }
        .debbie-img{
            width:250px;
            height:300px;
        }
    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
        .chat-window{
            width: 470px !important;
        }
        .debbie-img{
            width:250px;
            height:300px;
        }
    }
    .chat-window-footer{
background-color: #c1c1c1;
    min-height: 3.125rem;
    padding: 15px 10px 25px 0px;
   
}
.image-footer{clear:both;}
.image-footer img{
                width: 300px;
    height: 11px;
    float: right;
}

.textbox-span{
    display: block;
    min-width: 500px;
    position: relative;left:0px;
    top:0px;
    
}
.textbox-span > img{
    position: relative;
}
.textbox-span > input{
    position: absolute;
    top: 0;
    left: 30px;
    padding-left: 5px;
}
.rectangle-p{
    border:5px; border-style:solid; border-color:#FF0000; padding: 1em;position: absolute;top:125px;height: 250px;width:230px;left:570px;
}
.button1{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 6.5px;
    text-align: center;
    text-decoration: none;
    padding-bottom:8px;
    cursor: pointer;
}
.button-span{
    position: absolute;
    top: 0px;
    left: 660px;
    min-width: 100px;
}